<div class ="container">
    <div class="row">
        <div class="col-xs-12">
            <ol>
                <hr>
            <li>But I must explain to you how all this mistaken idea of denouncing pleasure</li>
            <li>and praising pain was born and I will give you</li>
            <li>a complete account of the system, and expound the actual teachings</li> 
            <li>of the great explorer of the truth, the master-builder of human happiness.</li> 
            <li>of the great explorer of the truth, the master-builder of human happiness.</li> 
            <li>    No one rejects, dislikes, or avoids pleasure itself, because it is pleasure,</li>
            <li>or one who avoids a pain that produces no resultant pleasure</li>
            </ol>
            <hr>
            <button class="btn btn-primary" (click)="onToggleDetails()">Display Details</button>
            <p *ngIf="showSecret">Secret Password = tuna</p>
            <div 
            *ngFor="let logItem of log; let i = index"
            [ngStyle]="{backgroundColor: i >= 5 ? 'blue' : 'transparent'}"
            [ngClass]="{'white-text': i >= 5 }"
            >{{logItem}}</div>
        </div>
    </div>
</div>
