<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Bind it!</h3>
      <ol>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
        <li>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</li>
        <li>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea</li>
        <li>aute irure dolor in reprehenderit in voluptate velit</li>
        <li>But I must explain to you how all this mistaken idea of denouncing </li>
        <li>pleasure and praising pain was born and I will give you a complete</li>
        <li>Section 1.10.33 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd>
      <app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even>
    </div>
  </div>
</div>